<div class="form-group">
    <label class="required col-sm-3 control-label">
        @Html.Resource("FixedPriceListing, Price")
    </label>
    <div class="col-sm-6">
        @Html.CurrencyBox(Fields.Price, null, (string)ViewData[Fields.Currency], new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="required col-sm-3 control-label">
        @Html.Resource("FixedPriceListing, Quantity")
    </label>
    <div class="col-sm-6">
        @Html.TextBox(Fields.Quantity, null, new { @class = "form-control" })
    </div>
</div>
@if ((bool)ViewData[SiteProperties.EnableMakeOffer])
{
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    @Html.CheckBox(Fields.MakeOfferAllowed, null)
                    @Html.Resource("FixedPriceListing, AcceptOffers")
                    &nbsp;@Html.ToolTipButton("AcceptOffers_Help")
                </label>
                @Html.ToolTipContent("AcceptOffers_Help", Html.GlobalResource("AcceptOffers_Help"))
            </div>
        </div>
    </div>
}
@if (!SiteClient.BoolSetting(SiteProperties.HideTaxFields))
{
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    @Html.CheckBox(Fields.IsTaxable, null)
                    @Html.Resource("FixedPriceListing, IsTaxable")
                </label>
            </div>
        </div>
    </div>
}
else
{
    @Html.Hidden(Fields.IsTaxable, MVC.FalseValue)
}
