@model Listing

@if (Html.SitePropertyBoolValue(RainWorx.FrameWorx.Strings.SiteProperties.ShowShippingInfoOnItemLists))
{
    List<ShippingOption> shippingOptions = Model.ShippingOptions;
    if (shippingOptions.Count > 0)
    {
        
        @:<div class="shipping">


        ShippingOption cheapestOption = null;
        foreach (ShippingOption shippingOption in shippingOptions)
        {
            if (cheapestOption == null)
            {
                cheapestOption = shippingOption;
            }
            else if (shippingOption.FirstItemAmount < cheapestOption.FirstItemAmount)
            {
                cheapestOption = shippingOption;
            }
        }
        if (cheapestOption != null)
        {
            <small>
                @cheapestOption.Method.Name
                &nbsp;
                @Html.LocalCurrency(cheapestOption.FirstItemAmount, Model.Currency.Code)
            </small>
        }
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#@Model.ID">@Html.GlobalResource("ViewAllShippingOptsLink")</button>
        if (Model != null)
        {
            string pageTitle = Html.GlobalResource("ShippingOptionsFor") + ": " + Model.Title;
            <div class="modal fade" id="@Model.ID" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">@pageTitle</h4>
                        </div>
                        <table class="table table-striped shipping-modal" title="@pageTitle">
                            @foreach (ShippingOption option in Model.ShippingOptions)
                            {
                                <tr>
                                    <td><strong>@option.Method.Name</strong></td>
                                    <td>
                                        @Html.LocalCurrency(option.FirstItemAmount, Model.Currency.Code)
                                        @if (option.AdditionalItemAmount.HasValue)
                                        {
                                            <span class="small">(@Html.GlobalResource("XxxAsAdditionalItem", Html.LocalCurrency(option.AdditionalItemAmount.Value, Model.Currency.Code)))</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                        <div class="modal-footer shipping-modal">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GlobalResource("Close")</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        }
        @:</div>
    }
}
