<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">RainWorx AuctionWorx ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <h2>Unit Testing</h2>
    @Html.ActionLink("Test Categories", "Index", "TestCategory")<br />
    @Html.ActionLink("Test CustomFields", "Index", "TestCustomField")<br />
    @Html.ActionLink("Test Media", "Index", "TestMedia")<br />
    @Html.ActionLink("Test Listing", "Index", "TestListing")<br />
    @Html.ActionLink("Test ListingActions", "Index", "TestListingAction")<br />
    @Html.ActionLink("Test System", "Index", "TestSystem")<br />
    @Html.ActionLink("Test Users", "Index", "TestUser")<br />
    @Html.ActionLink("Test Settings", "Index", "TestSettings")<br />
    <h2>Use Case Testing</h2>
    @Html.ActionLink("Test Use Cases", "Index", "TestUseCase")<br />    
</div>
