@model Tier

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3 class="h3row">@Html.AdminResource("LineageString_EditEventFeeManagement")</h3>
<h4 class="h4row">@Html.AdminResource("EditFeeTier")</h4>

@using (Html.BeginForm("EditFeeTier", "Admin", new { id = Model.ID, feeScheduleID = ViewData["FeeScheduleID"] }))
{
    <table>
        <tr>
            <td>@Html.AdminResource("LowerBoundInclusive"):</td>
            <td>@Html.TextBox("LowerBoundInclusive", Model.LowerBoundInclusive)</td>
        </tr>
        <tr>
            <td>@Html.AdminResource("UpperBoundExclusive"):</td>
            <td>@Html.TextBox("UpperBoundExclusive", Model.UpperBoundExclusive)</td>
        </tr>
        <tr>
            <td>@Html.AdminResource("FeeValue"):</td>
            <td>@Html.TextBox("Value", Model.Value)</td>
        </tr>
        <tr>
            <td>@Html.AdminResource("ValueType"):</td>
            <td>@Html.DropDownList("ValueType")</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;">
                <input type="submit" class="DefaultButton" value="@Html.AdminResource("Save")" name="Save" id="Save" />
                -@Html.AdminResource("Or")-
                <input type="submit" class="DefaultButton" value="@Html.AdminResource("Delete")" name="Delete" id="Delete" />
            </td>
        </tr>
    </table>
}
