@model Address

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    User targetUser = (User)ViewData["User"];
    ViewBag.PageName = Html.AdminResource("LineageString_UserManagement");
}

@section PageName{
    &gt; @targetUser.UserName (@targetUser.ID) &gt; @Html.GlobalResource("AddressInformation")
}

@Html.Partial("UserManagementTopNav", "addresses")

<div class="user-details panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm(MVC.EditAddressAction, MVC.AdminController, new { @id = targetUser.ID, backUrl = ViewData["backUrl"] }, FormMethod.Post, new { @id = "Form_EditAddress" }))
        {
            @Html.Hidden("Address", Model.ID)
            @Html.Partial("AddressEditor", Model)
            <input type="submit" class="btn btn-success" value="@Html.AdminResource("Save")" />

            @Html.ActionLink(Html.AdminResource("Cancel"), MVC.UserAddressesAction, new { @id = targetUser.ID, @class = "btn btn-link" })

        }

    </div>
</div>