@using Microsoft.AspNet.Identity;
@using Microsoft.Owin.Security;
@{
    Layout = "~/Views/Account/_MyAccountLayout.cshtml";
    string returnUrl = Request.Url.PathAndQuery;
    List<UserLoginInfo> userLogins = (List<UserLoginInfo>)ViewData["UserLogins"];
    bool facebookAttached = userLogins.Any(ul => ul.LoginProvider.Equals("facebook", StringComparison.OrdinalIgnoreCase));
    bool googleAttached = userLogins.Any(ul => ul.LoginProvider.Equals("google", StringComparison.OrdinalIgnoreCase));
    List<AuthenticationDescription> otherLogins = (List<AuthenticationDescription>)ViewData["OtherLogins"];
    bool facebookAvailable = otherLogins.Any(ad => ad.AuthenticationType.Equals("facebook", StringComparison.OrdinalIgnoreCase));
    bool googleAvailable = otherLogins.Any(ad => ad.AuthenticationType.Equals("google", StringComparison.OrdinalIgnoreCase));
}

<div class="well well-sm section-title">
    @Html.GlobalResource("LineageString_Account_Password")
</div>
<div class="panel panel-default">
    <div class="panel-body">
        @Html.LocalizedValidationSummary()
        <div class="form-horizontal">
            @if (facebookAvailable)
            {
                <div class="form-group">
                    <a class="btn btn-block btn-facebook" href="@Html.GetActionUrl(MVC.LinkLoginAction, new { provider = "Facebook", returnUrl })">
                        <span><svg viewBox="0 0 512 512"><path fill="#fff" d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path></svg></span>
                        @Html.GlobalResource("AddXxxSignIn", Html.GlobalResourceString("Facebook"))
                    </a>
                    <hr />
                </div>
            }
                            
            @if (googleAvailable)
            {
                <div class="form-group">
                    <a class="btn btn-block btn-google" href="@Html.GetActionUrl(MVC.LinkLoginAction, new { provider = "Google", returnUrl })">
                        <span><svg viewBox="0 0 512 512"><path fill="#fff" d="M179.7 237.6L179.7 284.2 256.7 284.2C253.6 304.2 233.4 342.9 179.7 342.9 133.4 342.9 95.6 304.4 95.6 257 95.6 209.6 133.4 171.1 179.7 171.1 206.1 171.1 223.7 182.4 233.8 192.1L270.6 156.6C247 134.4 216.4 121 179.7 121 104.7 121 44 181.8 44 257 44 332.2 104.7 393 179.7 393 258 393 310 337.8 310 260.1 310 251.2 309 244.4 307.9 237.6L179.7 237.6 179.7 237.6ZM468 236.7L429.3 236.7 429.3 198 390.7 198 390.7 236.7 352 236.7 352 275.3 390.7 275.3 390.7 314 429.3 314 429.3 275.3 468 275.3"/></svg></span>
                        @Html.GlobalResource("AddXxxSignIn", Html.GlobalResourceString("Google"))
                    </a>
                    <hr />
                </div>
            }

            @using (Html.BeginForm())
            {
                string[] demoUsers = { "admin", "JohnBuyer", "JoeSeller", "Admin", "AuctionBob", "BidderBill", "SusanSales", "WallyAPI",
                                       "SpringfieldEstates", "DeLongWarehouse", "OnlyMusic", "SurplusMachines", "JCassisAntiques",
                                       "CollectArt", "Gallery9", "TheKarolFamily", "CollectCards", "XLMachines", "Seller1" };
                bool isDemoRestrictedUser = SiteClient.DemoEnabled && demoUsers.Contains(Html.FBOUserName());

                if (!isDemoRestrictedUser)
                {
                    <div class="form-group">
                        <label class="required col-sm-3 control-label">@Html.GlobalResource("CurrentPassword")</label>
                        <div class="col-sm-8">
                            @Html.Password("currentPassword", "", new { @class = "form-control" })
                            <span class="help-block">
                                @Html.GlobalResource("PasswordRequirements")<br />@Html.GlobalResource("PasswordsCaseSensitive")
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required col-sm-3 control-label">@Html.GlobalResource("NewPassword")</label>
                        <div class="col-sm-8">
                            @Html.Password("Password", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required col-sm-3 control-label">@Html.GlobalResource("ConfirmNewPassword")</label>
                        <div class="col-sm-8">
                            @Html.Password("confirmPassword", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <input type="submit" class="btn btn-default" value="@Html.GlobalResource("ChangePassword")" />
                }
                else // When in demo mode, do not allow changes to this field for built-in users.
                {
                    <div class="form-group">
                        <label class="required col-sm-3 control-label">@Html.GlobalResource("CurrentPassword")</label>
                        <div class="col-sm-8">
                            @Html.Password("currentPassword", string.Empty, new { @readonly = "readonly", @class = "form-control" })
                            <img src="Content/Images/Icon_Deactivated.png" alt="@Html.GlobalResource("DemoFieldDisabledForThisUser")" title="@Html.AdminResource("DemoFieldDisabledForThisUser")" />
                            <span class="help-block">@Html.GlobalResource("PasswordRequirements")<br />@Html.GlobalResource("PasswordsCaseSensitive")</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required col-sm-3 control-label">@Html.GlobalResource("Password")</label>
                        <div class="col-sm-8">
                            @Html.Password("Password", string.Empty, new { @readonly = "readonly", @class = "form-control" })
                            <img src="Content/Images/Icon_Deactivated.png" alt="@Html.GlobalResource("DemoFieldDisabledForThisUser")" title="@Html.AdminResource("DemoFieldDisabledForThisUser")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required col-sm-3 control-label">@Html.GlobalResource("ConfirmNewPassword")</label>
                        <div class="col-sm-8">
                            @Html.Password("confirmPassword", string.Empty, new { @readonly = "readonly", @class = "form-control" })
                            <img src="Content/Images/Icon_Deactivated.png" alt="@Html.GlobalResource("DemoFieldDisabledForThisUser")" title="@Html.AdminResource("DemoFieldDisabledForThisUser")" />
                        </div>
                    </div>
                    <input type="submit" class="btn btn-default " disabled="disabled" value="@Html.GlobalResource("ChangePassword")" />
                }
            }
        </div>
    </div>
</div>
@if (facebookAttached || googleAttached)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @if (facebookAttached)
            {
                var facebookLoginInfo = userLogins.First(ul => ul.LoginProvider.Equals("facebook", StringComparison.OrdinalIgnoreCase));
                <a class="btn btn-block btn-facebook" href="@Html.GetActionUrl(MVC.RemoveLoginAction, 
                                                           new { loginProvider = facebookLoginInfo.LoginProvider, providerKey = facebookLoginInfo.ProviderKey })">
                    <span><svg viewBox="0 0 512 512"><path fill="#fff" d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path></svg></span>
                        @Html.GlobalResource("RemoveXxxSignIn", Html.GlobalResourceString("Facebook"))
                </a>
                <hr />
            }
            @if (googleAttached)
            {
                var googleLoginInfo = userLogins.First(ul => ul.LoginProvider.Equals("facebook", StringComparison.OrdinalIgnoreCase));
                <a class="btn btn-block btn-google" href="@Html.GetActionUrl(MVC.RemoveLoginAction, 
                                                         new { loginProvider = googleLoginInfo.LoginProvider, providerKey = googleLoginInfo.ProviderKey })">
                     <span><svg viewBox="0 0 512 512"><path fill="#fff" d="M179.7 237.6L179.7 284.2 256.7 284.2C253.6 304.2 233.4 342.9 179.7 342.9 133.4 342.9 95.6 304.4 95.6 257 95.6 209.6 133.4 171.1 179.7 171.1 206.1 171.1 223.7 182.4 233.8 192.1L270.6 156.6C247 134.4 216.4 121 179.7 121 104.7 121 44 181.8 44 257 44 332.2 104.7 393 179.7 393 258 393 310 337.8 310 260.1 310 251.2 309 244.4 307.9 237.6L179.7 237.6 179.7 237.6ZM468 236.7L429.3 236.7 429.3 198 390.7 198 390.7 236.7 352 236.7 352 275.3 390.7 275.3 390.7 314 429.3 314 429.3 275.3 468 275.3"/></svg></span>
                        @Html.GlobalResource("RemoveXxxSignIn", Html.GlobalResourceString("Google"))
                </a>
            }
        </div>
    </div>
}
