<div class="col-xs-12">
    <div class="well well-sm section-title">@Html.GlobalResource("ForgotPassword")</div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                @using (Html.BeginForm())
            {
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            @Html.GlobalResource("EmailAddress")
                        </label>

                        <div class="col-md-8">
                            @Html.TextBox("Email", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <span class="help-block col-sm-8">
                                @Html.GlobalResource("ForgotPasswordInstructions")
                            </span>
                            <input type="submit" class="btn btn-primary pull-right" value="@Html.GlobalResource("Submit")" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>