<tr class="active">
    <th></th>
    <th colspan="3">
    @Html.GlobalResource("Title") <em>(@Html.GlobalResource("ListingID"))</em>
    <p class="visible-xs">
        @Html.GlobalResource("PurchaseDate")
    </p>
    </th>
    <th class="hidden-xs">@Html.GlobalResource("Seller")</th>
</tr>
<tr class="active">
    <th></th>
    <th>@Html.GlobalResource("Quantity")</th>
    <th class="hidden-xs">@Html.GlobalResource("UnitPrice")</th>
    <th>@Html.GlobalResource("TotalPrice")</th>
    <th class="hidden-xs">@Html.GlobalResource("PurchaseDate")</th>
</tr>



