@model Listing
<div class="list clearfix">
    <div class="row">
        <div class="col-sm-1">
            <input class="row-selection-checkbox" type="checkbox" name="ListingIDs" value="@Model.ID" />
        </div>
        <div class="col-sm-2">
            @{
                if (string.IsNullOrEmpty(Model.PrimaryImageURI))
                {
                    @Html.Partial("NoPhotoThumbnail")
                }
                else
                {
                    string uri = string.Format(Model.PrimaryImageURI, SiteClient.ThumbnailType.ToLower());
                    @Model.BeginDetailLink()
                    <img src="@uri" alt="@Html.GlobalResource("ListingImage")" class="img-responsive" />
                    @Model.EndDetailLink()
                }
            }
        </div>
        <div class="col-sm-6">
            <p>
                <strong>
                    @Model.BeginDetailLink()
                    @Model.Title <em>(@Model.ID)</em>
                    @Model.EndDetailLink()
                </strong>
            </p>
            <div class="row">
                <div class="col-sm-6">@Html.LocalCurrency(Model.OriginalPrice.Value, Model.Currency.Code)</div>
                <div class="col-sm-6">@Model.CurrentQuantity</div>
            </div>
        </div>
        <div class="col-sm-3">
            @Html.LocalDTTM(Model.StartDTTM.Value, "G")
            <br />
            @Html.LocalDTTM(Model.EndDTTM.Value, "G")
        </div>
    </div>
    @Html.Partial("Action_SellerPending")
</div>
