@model Listing
<div class="list clearfix">
    <div class="row">
        <div class="col-sm-1">
            <input class="row-selection-checkbox" type="checkbox" name="ListingIDs" value="@Model.ID" />
        </div>
        <div class="col-sm-2">
            @{
                if (string.IsNullOrEmpty(Model.PrimaryImageURI))
                {
                    @Html.Partial("NoPhotoThumbnail")
                }
                else
                {
                    string uri = string.Format(Model.PrimaryImageURI, SiteClient.ThumbnailType.ToLower());
                    @Model.BeginDetailLink()
                    <img src="@uri" alt="@Html.GlobalResource("ListingImage")" class="img-responsive" />
                    @Model.EndDetailLink()
                }
            }
        </div>
        <div class="col-sm-9">
            <p>
                <strong>
                    @Model.BeginDetailLink()
                    @Model.Title <em>(@Model.ID)</em>
                    @Model.EndDetailLink()
                </strong>
            </p>
            <p>
                @Html.LocalDTTM(Model.EndDTTM.Value, "G")
            </p>
        </div>

        <div class="col-sm-2">
            @Model.AcceptedActionCount
        </div>
        <div class="col-sm-2">
            @Html.LocalCurrency(Model.CurrentPrice.Value, Model.Currency.Code)

        </div>
        <div class="col-sm-2">
            @Html.LocalCurrency(Model.OriginalPrice.Value, Model.Currency.Code)

            @{
                string reservePriceString = Model.Properties.Single(p => p.Field.Name == "ReservePrice").Value;
                if (!string.IsNullOrEmpty(reservePriceString))
                {
                    <br /><span class="label label-default">@Html.GlobalResource("Reserve") : @Html.LocalCurrency(decimal.Parse(reservePriceString), Model.Currency.Code)</span>
                }
            }
        </div>
        <div class="col-sm-2">
            @Model.CurrentQuantity
        </div>
    </div>
    @Html.Partial("Action_Seller")
</div>
