<div class="col-xs-12 col-md-6">
    <div class="well well-sm section-title">
        @Html.GlobalResource("ResetPassword")
    </div>
    @ViewData["Message"]
    @Html.LocalizedValidationSummary()

    @Html.GlobalResource("PasswordResetMessage")

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="email" class="required">@Html.GlobalResource("Email")</label>
            @Html.TextBox("email", string.Empty, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="resetToken" class="required">@Html.GlobalResource("ResetCode")</label>
            @Html.TextBox("resetToken", string.Empty, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Password" class="required">@Html.GlobalResource("NewPassword")</label>
            @Html.Password("Password", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="required">@Html.GlobalResource("ConfirmPassword")</label>
            @Html.Password("confirmPassword", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="@Html.GlobalResource("Submit")" />
        </div>
    }
</div>
