@model Invoice
@{
    bool payerIsTaxExempt = Model.Payer.Properties.Any(up => up.Field.Name == StdUserProps.TaxExempt && up.Value != null)
        ? bool.Parse(Model.Payer.Properties.First(up => up.Field.Name == StdUserProps.TaxExempt).Value) : false;
}
<script>
    $(document).ready(function () {
        $("#PrintInvoice").click(function () {
            window.open('@Html.GetActionUrl("PrintInvoice", new { id = Model.ID }).ToMvcHtmlString().ToJavascriptSafeString()', '_blank', 'width=600,height=600,scrollbars=yes');
            return false;
        });
    });
</script>

<div class="well well-sm section-title">
    @Html.GlobalResource("SiteFeeInvoice")
    <button id="PrintInvoice" class="btn btn-default btn-xs pull-right">@Html.GlobalResource("PrintInvoice")</button>
</div>
@Html.LocalizedValidationSummary()
@if (ViewData.ContainsKey("Approved"))
{
    if (ViewData["Approved"] != null && !(bool)ViewData["Approved"])
    { //Payment Rejected
        <div class="alert alert-danger">@Html.GlobalResource((string)ViewData["Message"])</div>
    }
}
<div class="alert alert-info">
    @if (SiteClient.BoolSetting(SiteProperties.VATEnabled))
    {
        @Html.GlobalResource("Subtotal")<text>:&nbsp;&nbsp;</text>
        <strong>@Html.LocalCurrency(Model.Subtotal, Model.Currency)</strong><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
        @Html.GlobalResource("VAT")<text>:&nbsp;&nbsp;</text>
        if (!payerIsTaxExempt)
        {
            <strong>@Html.LocalCurrency(Model.SalesTax, Model.Currency)</strong><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
        }
        else
        {
            <strong>@Html.GlobalResource("TaxExempt")</strong><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
        }
    }
    @Html.GlobalResource("Total"):
    <strong>@Html.LocalCurrency(Model.Total, Model.Currency)</strong>
    &nbsp;&nbsp;
    <small>
        <button class="btn btn-info btn-sm" type="button" onclick="window.location.hash = 'InvoiceDetails'; window.location.hash = 'InvoiceDetail'; return false;">
            @Html.GlobalResource("ViewInvoiceDetails")
        </button>
    </small>
</div>
<div class="panel panel-default">
    <div class="row">
        @if (string.IsNullOrEmpty(Model.BillingZipPostal))
        {
            <div class="alert alert-warning">@Html.GlobalResource("BillingAddressRequiredBeforePayment")</div>
        }
        else
        {
            if (ViewData["PaymentProviderViews"] != null)
            {
                foreach (KeyValuePair<string, string> entry in (Dictionary<string, string>)ViewData["PaymentProviderViews"])
                {
                    @Html.Partial(entry.Value, Model, new ViewDataDictionary(ViewData) { { "Model", Model }, { "ProviderName", entry.Key } })
                }
            }
        }

    </div>
    <div class="panel-body">
        <div class="col-sm-6">
            <strong>@SiteClient.Settings[SiteProperties.FriendlySiteName]</strong>
            <br />
            @Html.GlobalResource("Username"): @Model.Payer.UserName
            <br />
            @Html.GlobalResource("InvoiceNumber"): @Model.ID
            <br />
            @Html.GlobalResource("DateCreated"): @Html.LocalDTTM(Model.CreatedDTTM, "g")
            <p></p>
            <strong>@SiteClient.Settings[SiteProperties.FriendlySiteName] @Html.GlobalResource("Address")</strong>
            <br />
            @Model.OwnerName
            <br />
            @Model.OwnerStreet1
            @if (!string.IsNullOrEmpty(Model.OwnerStreet2))
            {
                <br />
                @Model.OwnerStreet2
            }
            <br />
            @Model.OwnerCity, @Model.OwnerStateRegion @Model.OwnerZipPostal @Model.OwnerCountry
            <p></p>
        </div>
        <div class="col-sm-6">
            <strong>@Html.GlobalResource("BillingAddress")</strong> &nbsp;
            @Html.ButtonLink(Html.GlobalResource("Select"), "SetBillingAddress", new { invoiceID = Model.ID }, new { @class = "btn btn-default btn-xs" })<br />
            @if (!string.IsNullOrEmpty(Model.BillingCountry))
            {
                @(string.Format("{0} {1}", Model.BillingFirstName, Model.BillingLastName))<br />
                @Model.BillingStreet1<br />
                if (!string.IsNullOrEmpty(Model.BillingStreet2))
                {
                    @Model.BillingStreet2<br />
                }
                @Model.BillingCity@:, @Model.BillingStateRegion @Model.BillingZipPostal @Model.BillingCountry
            }
            else
            {
                <div class="no-address">@Html.GlobalResource("AddressNotDefined")</div>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="alert alert-info">
            @if (SiteClient.BoolSetting(SiteProperties.VATEnabled))
            {
                @Html.GlobalResource("Subtotal")<text>:&nbsp;&nbsp;</text>
                <strong>@Html.LocalCurrency(Model.Subtotal, Model.Currency)</strong><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                @Html.GlobalResource("VAT")<text>:&nbsp;&nbsp;</text>
                if (!payerIsTaxExempt)
                {
                    <strong>@Html.LocalCurrency(Model.SalesTax, Model.Currency)</strong><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                }
                else
                {
                    <strong>@Html.GlobalResource("TaxExempt")</strong><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                }
            }
            @Html.GlobalResource("Total"):
            <strong>@Html.LocalCurrency(Model.Total, Model.Currency)</strong>
        </div>
    </div>
    <table class="table" id="InvoiceDetails">
        @Html.Partial("PageOfFees", ViewData["PageOfLineitems"])
    </table>
    <div class="panel-footer">
        @{var pageOfLineItems = (Page<LineItem>)ViewData["PageOfLineitems"];}
        @if (pageOfLineItems.TotalPageCount > 1)
        {
            Html.RenderPageNumberLinks(pageOfLineItems);
        }
    </div>
</div>
@Html.Partial("PaymentHistory")
