@model Listing
<div class="col-sm-12">
    <div class="watch-item clearfix">
        @Html.ButtonLink(Html.GlobalResource("Delete_small"), MVC.RemoveWatchAction,
            new { id = Model.ID, page = Request["page"], SortFilterOptions = Request["SortFilterOptions"] },
            new { @class = "close" })
        <div class="row clearfix">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <label class="pull-left">
                            <input class="row-selection-checkbox" type="checkbox" name="selectedObjects" value="@Model.ID" />
                        </label>
                        <div class="img-container">
                            @if (string.IsNullOrEmpty(Model.PrimaryImageURI))
                            {
                                @Html.Partial("NoPhotoThumbnail")
                            }
                            else
                            {
                                string uri = string.Format(Model.PrimaryImageURI, SiteClient.ThumbnailType.ToLower());
                                @Model.BeginDetailLink()
                                <img src="@uri" alt="@Html.GlobalResource("ListingImage")" class="img-responsive" />
                                @Model.EndDetailLink()
                            }
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-8 col-md-9">
                        @Model.DetailLink(Model.Title) <em>(@Model.ID)</em>
                        @if (SiteClient.DisplayListingType)
                        {
                            <span class="label label-primary">@Html.GlobalResource("FixedPriceBanner")</span>
                        }
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-3">
                        <div class="watch-item__label">
                            @Html.GlobalResource("Price")
                        </div>
                        <strong>
                            <span class="awe-rt-CurrentPrice price">@(Model.CurrentPrice.HasValue ? Html.LocalCurrencyWithNumberTags(Model.CurrentPrice.Value, Model.Currency.Code) : MvcHtmlString.Empty)</span>
                        </strong>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-6">
                        <div class="watch-item__label">
                            @if (Model.Status.Equals(ListingStatuses.Successful) || Model.Status.Equals(ListingStatuses.Unsuccessful))
                            {
                                <span>
                                    @Html.GlobalResource("EndDateTime")
                                </span>
                            }
                            else if ((Model.Status.Equals(ListingStatuses.Preview)) && (!Model.IsGoodTilCanceled()))
                            {
                                <span class="awe-rt-HideOnStart">
                                    @Html.Resource("FixedPriceListing , AvailableIn")
                                </span>
                                <span class="awe-hidden awe-rt-ShowOnStart awe-rt-HideOnEnd">
                                    @Html.Resource("FixedPriceListing , AvailableFor")
                                </span>
                                <span class="awe-hidden awe-rt-ShowOnEnd">
                                    @Html.GlobalResource("EndDateTime")
                                </span>
                            }
                            else if (!Model.IsGoodTilCanceled())
                            {
                                <span class="awe-rt-HideOnEnd">
                                    @Html.Resource("FixedPriceListing , AvailableFor")
                                </span>
                                <span class="awe-hidden awe-rt-ShowOnEnd">
                                    @Html.GlobalResource("EndDateTime")
                                </span>
                            }
                            &nbsp;
                        </div>
                        @if (!Model.IsGoodTilCanceled())
                        {
                            if (Model.Status.Equals(ListingStatuses.Preview))
                            {
                                <div class="watch-item__time--preview awe-rt-HideOnStart">
                                    <span data-epoch="starting" data-end-hide-selector="[data-listingid='@Model.ID'] .awe-rt-HideOnStart" data-end-show-selector="[data-listingid='@Model.ID'] .awe-rt-ShowOnStart" data-action-time="@Html.CultureInvariantLocalDTTM(Model.StartDTTM.Value)">@*Leave Empty, autofilled by SignalR*@</span>
                                    &nbsp;
                                </div>
                                <div class="watch-item__time awe-hidden awe-rt-ShowOnStart awe-rt-HideOnEnd">
                                    <span data-epoch="ending" data-end-hide-selector="[data-listingid='@Model.ID'] .awe-rt-HideOnEnd" data-end-show-selector="[data-listingid='@Model.ID'] .awe-rt-ShowOnEnd" data-action-time="@Html.CultureInvariantLocalDTTM(Model.EndDTTM.Value)" data-end-value="">@*Leave Empty, autofilled by SignalR*@</span>
                                    &nbsp;
                                </div>
                                <div class="watch-item__date awe-hidden awe-rt-ShowOnEnd">
                                    <span class="awe-rt-endingDTTM awe-short-date" data-initial-dttm="@(Model.EndDTTM.HasValue ? Html.CultureInvariantLocalDTTM(Model.EndDTTM.Value) : MvcHtmlString.Empty)"></span>
                                </div>
                            }
                            else if (Model.Status.Equals(ListingStatuses.Active))
                            {
                                <div class="watch-item__time awe-rt-HideOnEnd">
                                    <span data-epoch="ending" data-end-hide-selector="[data-listingid='@Model.ID'] .awe-rt-HideOnEnd" data-end-show-selector="[data-listingid='@Model.ID'] .awe-rt-ShowOnEnd" data-action-time="@Html.CultureInvariantLocalDTTM(Model.EndDTTM.Value)" data-end-value="">@*Leave Empty, autofilled by SignalR*@</span>
                                    &nbsp;
                                </div>
                                <div class="watch-item__date awe-hidden awe-rt-ShowOnEnd">
                                    <span class="awe-rt-endingDTTM awe-short-date" data-initial-dttm="@(Model.EndDTTM.HasValue ? Html.CultureInvariantLocalDTTM(Model.EndDTTM.Value) : MvcHtmlString.Empty)"></span>
                                </div>
                            }
                            else
                            {
                                <div class="watch-item__date">
                                    <span class="awe-rt-endingDTTM awe-short-date" data-initial-dttm="@(Model.EndDTTM.HasValue ? Html.CultureInvariantLocalDTTM(Model.EndDTTM.Value) : MvcHtmlString.Empty)"></span>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-offset-0 col-md-3 watch-item__cta">
                <a href="@Url.Action("Details", "Listing", new { Model.ID })" class="btn btn-default btn-block">
                    @Html.GlobalResource("ViewItem")
                </a>
                <a href="Browse?Seller=@Model.OwnerUserName">
                    @Html.GlobalResource("ViewSELLERUSERNAMEListings", Model.OwnerUserName)
                </a>
            </div>
        </div>
    </div>
</div>
